@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  width: 100%;
  font-family: BeVietnam;
  color: black;
  background-image: url("../image/background.png");
  background-size: cover;
  overflow-x: hidden;
  display: inline;
}

#big-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.55);
  webkit-border-radius: 15px;
  moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid white;
  z-index: 1;
  position: relative;
  margin-top: 170px;
  margin-bottom: 30px;
}

#top {
  width: 600px;
  align-items: center;
  margin-top: -90px;
}

#top img{
  width: 200px;
  height: 200px;
}

#info{
  width: 600px;
  align-items: center;
  display: list-item;
}

#name, #td{
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#nd{
  align-items: center;
  max-width: 600px;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: normal;
}

#row {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 20px;
  border: 1px solid black;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  webkit-border-radius: 60px;
  moz-border-radius: 60px;
  border-radius: 60px;
}

#rowb {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  margin-top: 20px;
  border: 1px solid black;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  webkit-border-radius: 60px;
  moz-border-radius: 60px;
  border-radius: 60px;
}

#rowl img{
  width: 80px;
  height: 80px;
  margin-left: 55px;
}

#rowr {
  padding-left: 40px;
  text-align: left;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: black;
}

#lang img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
